body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(../img/background.png);
}

/* CARRUSEL */
.carousel-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.carousel-box {
    width: 80%;
    overflow: hidden;
    position: relative;
    border-radius: 12px;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    padding: 60px;
    background: linear-gradient(135deg, #0ea5e9, #1e3a8a);
    color: white;
    text-align: center;
}

.carousel-item h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.carousel-item p {
    font-size: 1.2rem;
}

.carousel-item button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background: white;
    color: black;
    cursor: pointer;
    border-radius: 6px;
}

/* BOTONES */
.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
}

.prev { left: 10px; }
.next { right: 10px; }